{% extends 'CoreBundle::layout.html.twig' %}
{% block body %}
	<h2>Les 3 dernières Annonces de la plateforme</h2>
	<div class="d-flex flex-column justify-content-around">
	    {% for advert in adverts %}
	    	{% if loop.index < 4  %}
				<div class="card w-100 card-outline-secondary mb-3 p-3">
					<div class="card-block">
						<h4 class="card-title"><a href="{{ path('oc_plateform_view',{id:advert.id}) }}">{{ advert.title }}</a></h4>
						<p class="card-text">{{ advert.content }}</p>
						<p class="card-text"><small class="text-muted">le {{ advert.date|date('d.m.Y') }} par {{ advert.author }}</small></p>
					</div>
				</div>
	    	{% endif %}
	    {% else %}
	    	    <p class="alert alert-warning w-100">Il n'y a pas d'annonces pour l'instant</p>
	    {% endfor %}
	</div>
{% endblock %}