{% extends 'OCPlateformBundle::layout.html.twig' %}
{% block title %}Vue - {{ parent() }}{% endblock %}
{% block oc_plateform_body %}
    <h2>{{ advert.title }}</h2>
    <i>Par {{ advert.author }} le {{ advert.date|date('d/m/Y') }}</i>
    <div class="card my-3">
        <div class="card-body bg-light">
            {{ advert.content }}
        </div>
    </div>
    <div>
    	<a href="{{ path('oc_plateform_home') }}" class="btn btn-light border"><span class="fas fa-chevron-left"></span> Retour</a>
    	<a href="{{ path('oc_plateform_edit',{'id':advert.id}) }}" class="btn btn-light border"><span class="far fa-edit"></span> Modifier</a>
    	<a href="{{ path('oc_plateform_delete',{'id':advert.id}) }}" class="btn btn-danger"><span class="fas fa-trash"></span> Supprimer</a>
    </div>
{% endblock %}